<div class="container">

  <button class="btn btn-primary" (click)="getPosts()">getPosts</button>
  <button class="btn btn-primary" (click)="getPost()">getPost</button>
  <button class="btn btn-primary" (click)="getPostByUser()">getPostByUser</button>
  <button class="btn btn-primary" (click)="addPost()">addPost</button>
  <button class="btn btn-primary" (click)="updatePost()">updatePost</button>
  <button class="btn btn-primary" (click)="deletePost()">deletePost</button>
  <button class="btn btn-primary" (click)="changePost()">changePost</button>


</div>


