<div class="container">

  <app-basics [hidden]="true"></app-basics>

  <app-data-binding [hidden]="true"></app-data-binding>

  <app-event-binding [hidden]="true"></app-event-binding>

  <app-checklist ></app-checklist>

  <!--<h1>Aplikacja klikacz</h1>-->
  <!--<div class="row">-->
    <!--<div class="col-sm-4">-->
      <!--<app-klikacz1></app-klikacz1>-->
    <!--</div>-->

    <!--<div class="col-sm-4">-->
      <!--ToDo: Zbudować komponent klikacz-suma-->
      <!--<h2>Suma kliknięć: {{allClicks}}</h2>-->
    <!--</div>-->

    <!--<div class="col-sm-4">-->
      <!--<app-klikacz2></app-klikacz2>-->
    <!--</div>-->
  <!--</div>-->

</div>


