<div class="container-fluid">

  <div class="row">
    <app-add-task (emitTask)="add($event)"></app-add-task>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <app-todo-task [tasksList]="tasksList" (emitDone)="done($event)" (emitRemove)="remove($event)"></app-todo-task>
    </div>

    <div class="col-sm-6">
      <app-done-task [tasksDone]="tasksDone">

        <p>wysyłam dodatkowy kod html</p>
        <p>moge nawet cały komponent</p>
      </app-done-task>
    </div>

  </div>
</div>



